@import "../../variables.scss";

.success {
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__icon {
    width: 80px;
    height: 80px;
    background-image: url(../../assets/svg/icon-complete.svg);
    margin-bottom: 15px;
  }

  &__title {
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  &__text {
    color: $dark-grayish-violet;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 30px;
    text-align: center;
  }
}

@media screen and (max-width: $tablet2-width) {
  .success {
    margin-top: 300px;
    width: 300px;
  }
}

@media screen and (max-width: $mobile-width) {
  .success {
    margin-top: 210px;
  }
}
