@import "../../variables.scss";

.card-back {
  box-sizing: border-box;
  display: flex;
  width: 447px;
  height: 245px;
  padding: 30px;
  color: white;
  background: url(../../assets/png/bg-card-back.png) no-repeat;
  margin-left: 90px;

  &__cvc {
    margin: auto 30px auto auto;
  }
}
