@import "../../variables.scss";

.form {
  max-width: 380px;
  margin: auto;
  display: flex;
  flex-direction: column;

  &__info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__exp-wrap {
    display: flex;
  }
}

.date-input {
  width: 70px;
  margin-right: 7px;
}

@media screen and (max-width: $tablet-width) {
  .form {
    max-width: 250px;
  }

  .date-input {
    width: 50px;
  }
}

@media screen and (max-width: $tablet2-width) {
  .form {
    max-width: 100%;
    margin-top: 300px;
  }

  .date-input {
    width: 70px;
  }
}

@media screen and (max-width: $mobile-width) {
  .form {
    margin-top: 210px;
  }
}
