.main {
  background-image: url(../../assets/png/bg-main-desktop.png);
  background-repeat: no-repeat;
  display: flex;

  &__cards {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    gap: 30px;
  }
}
