@import "../../variables.scss";

.card-front {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 447px;
  height: 245px;
  padding: 30px;
  color: white;
  background: url(../../assets/png/bg-card-front.png) no-repeat;
  background-size: 100%;

  &__logo {
    display: flex;
    gap: 15px;

    &-big {
      width: 40px;
      height: 40px;
      background-color: white;
      border-radius: 50%;
    }

    &-small {
      width: 15px;
      height: 15px;
      border: 1px solid white;
      border-radius: 50%;
      margin: auto 0;
    }
  }

  &__num {
    margin: auto 0 20px 0;
    font-size: 30px;
    letter-spacing: 4px;
  }

  &__owner-info {
    display: flex;
    justify-content: space-between;
  }

  &__exp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }

  &__info {
    margin: 0;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

@media screen and (max-width: $tablet-width) {
  .card-front {
    width: 350px;
    height: 192px;
    padding: 20px;

    &__logo {
      gap: 10px;

      &-big {
        width: 30px;
        height: 30px;
      }

      &-small {
        width: 10px;
        height: 10px;
      }
    }

    &__num {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: $tablet2-width) {
  .card-front {
    position: absolute;
    z-index: 2;
    top: 148px;
  }
}
